<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>需要您的同意,使用蓝牙连接设备</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>需要您的同意,使用蓝牙连接设备</string>
</dict>
</plist>
